In [1]:
import psycopg2
import pandas as pd

In [8]:
DB_HOST = "127.0.0.1"
DB_NAME = "DocInfo"
DB_USER = "postgres"
DB_PASS = "d73e55g6t08ru"

def process_cmd(cmd, DB_HOST, DB_NAME, DB_USER, DB_PASS):
    conn = psycopg2.connect(host=DB_HOST, database=DB_NAME, user=DB_USER, password=DB_PASS)
    if cmd.split()[0] == 'select':
        df = pd.read_sql_query(cmd, conn)
        conn.close()
        return df
    else:
        cur = conn.cursor()
        cur.execute(cmd)
        try:
            rows = cur.fetchall()
        except:
            conn.commit()
            conn.close()
            cur.close()
            return True
        conn.commit()
        conn.close()
        cur.close()
        return rows if rows else []
    
# cmd = '''insert into chat values (2, 'admin', 'WARNING', 'OLEG228', 'Oleg', 'Pavlov', False)'''
# cmd = '''select * from chat'''
# process_cmd(cmd, DB_HOST, DB_NAME, DB_USER, DB_PASS)

/tmp/ipykernel_228040/2638001366.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(cmd, conn)

   id   type    title username first_name last_name  is_forum
0   1  admin  WARNING  OLEG228       Oleg    Pavlov     False
1   2  admin  WARNING  OLEG228       Oleg    Pavlov     False

In [ ]:
cur = conn.cursor('''SELECT * FROM DocInfo''')

In [ ]:
#Команда для создания необходимых таблиц в начале
# '''CREATE TABLE Chat (
#     id int PRIMARY KEY,
#     type varchar(80),
#     title varchar(80),
#     username varchar(80) ,
#     first_name varchar(80),
#     last_name varchar(80),
#     is_forum boolean
#     );
    
#     CREATE TABLE Contact (
#     phone_number varchar(80) PRIMARY KEY,
#     first_name varchar(80),
#     last_name varchar(80),
#     user_id int,
#     vcard varchar(80)
#     );
    
#     CREATE TABLE Document (
#     file_id varchar(80) PRIMARY KEY,
#     file_unique_id varchar(80),
#     file_name varchar(80),
#     mime_type varchar(80),
#     file_size int
#     );
#     CREATE TABLE File (
#     file_id varchar(80) PRIMARY KEY,
#     file_unique_id varchar(80),
#     file_size int,
#     file_path varchar(80)
#     );
#     CREATE TABLE Location (
#     loc_id varchar(80) PRIMARY KEY,
#     longitude real,
#     latitude real,
#     horizontal_accuracy real,
#     live_period int,
#     heading int,
#     proximity_alert_radius int
#     );
    
#     CREATE TABLE Usr (
#     user_id int PRIMARY KEY,
#     is_bot boolean,
#     first_name varchar(80),
#     last_name varchar(80),
#     username varchar(80),
#     language_code varchar(80),
#     can_join_groups varchar(80),
#     can_read_all_group_messages varchar(80),
#     supports_inline_queries varchar(80),
#     is_premium boolean,
#     added_to_attachment_menu boolean,
#     can_connect_to_business boolean
#     );
#     CREATE TABLE Video (
#     file_id varchar(80) PRIMARY KEY,
#     file_unique_id varchar(80),
#     width int,
#     height int,
#     duration int,
#     file_name varchar(80),
#     mime_type varchar(80),
#     file_size int
#     );
#     CREATE TABLE DocInfo(
#     Message_id varchar(10),
#     DateTime int,
#     sender_boost_count bool,
#     is_topic_message bool,
#     is_automatic_forward bool,
#     edit_date int,
#     chat_id int,
#     phone_number varchar(80),
#     doc_id varchar(80),
#     file_id varchar(80),
#     loc_id varchar(80),
#     user_id int,
#     video_id varchar(80),
    
#     FOREIGN KEY (chat_id) REFERENCES Chat(id),
    
#     FOREIGN KEY (phone_number) REFERENCES Contact(phone_number),
    
#     FOREIGN KEY (doc_id) REFERENCES Document(file_id),
#     FOREIGN KEY (file_id) REFERENCES File(file_id),
#     FOREIGN KEY (loc_id) REFERENCES Location(loc_id),
#     FOREIGN KEY (user_id) REFERENCES Usr(user_id),
#     FOREIGN KEY (video_id) REFERENCES Video(file_id)
#     )'''